MONGO_DB_URL=MONGO_DB_URL

ADMIN_EMAIL=ADMIN_EMAIL
ADMIN_PASS=ADMIN_PASS


PASSWORD_HASH_SALT=PASSWORD_HASH_SALT

NODE_ENV=NODE_ENV



JWT_ACCESS_EXPIRES=JWT_ACCESS_EXPIRES
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET



CLOUD_NAME=CLOUD_NAME
CLOUD_API_KEY=CLOUD_API_KEY
CLOUD_API_SECRET=CLOUD_API_SECRET